* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
  }

body { 
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    background-color: #fff;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    }

.container {
    max-width: 1240px;
    margin: 0px auto;
    }
    
.nav {
    background-color: #fcb103;
    }
.nav_list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    
}
.nav-link {
    font-size: 18px;
    text-decoration: none;
    padding: 0 20px;
    line-height: 40px;
    transition: 1.3s;
}

.container_2 {
    background-color: #c1f7c1;
    padding: 30px 10px; 
}

.profile_container {
    display: flex;
    justify-content: space-around;
    

}
.my_photo  {
    margin: 0 auto;
}

.other_info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.section {
    width: 50%;
    padding: 30px 10px;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding: 20px 0;
  }

.footer {
    

}
.container_3 {
    background-color: #696868;
    display: flex;
    justify-content: space-around;
    align-items: center;
}